
    
    <div class="form-group">
      <label for="exampleInputEmail1"></label>
      <input type="text" class="form-control"  placeholder="CEP" [(ngModel)] = "endereco.cep" name="cep">
      <small  class="form-text text-muted"></small>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1"></label>
      <input type="password" class="form-control"  placeholder="Endereço" name="logradouro" [(ngModel)] = "endereco.logradouro">
      <small  class="form-text text-muted"></small>
    </div>

    <div class="form-group">
            <label for="exampleInputPassword1"></label>
            <input type="text" class="form-control"  placeholder="Bairro" name="bairro" [(ngModel)] = "endereco.bairro">
            <small  class="form-text text-muted"></small>
    </div>

    <div class="form-group">
            <label for="exampleInputPassword1"></label>
            <input type="text" class="form-control"  placeholder="Cidade" name="localidade" [(ngModel)] = "endereco.localidade">
            <small  class="form-text text-muted"></small>
    </div>

    <div class="form-group">
            <label for="exampleInputPassword1"></label>
            <input type="text" class="form-control"  placeholder="Estado" name="uf" [(ngModel)] = "endereco.uf">
            <small  class="form-text text-muted"></small>
    </div>
    
    
  