<div class="container mr-50% bg-dark text-white col-6 mt-4"> 
    <!--Variavel de template #fc, só funciona no html-->
    <form (ngSubmit)= "onsubmit(fc)" #fc=ngForm  >
        <legend>Cadastro</legend>
            
            <div class="form-group" [class.has-error] = "email.invalid && email.touched">                
                <label for="email" class="control-label">Email</label>                
                <input id="email" required [email] = "usuario.email !== ''" name="email" [(ngModel)]="usuario.email" 
                    type="text" class="form-control col-8"  #email = "ngModel" placeholder="Digite email">
                        <span class="help-block" *ngIf="email.errors?.required && email.touched">Email is required</span><br>
                        <span class="help-block" *ngIf="email.errors?.email && email.touched">Email is invalid</span>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>


            <div class="form-group" [class.has-error] = "name.invalid && name.touched" 
                    [class.has-success] = "name.valid">
                    <label for="nome" class="control-label">Nome</label>
                    <input required id="nome" name="nome" [(ngModel)]="usuario.nome" 
                    type="text" class="form-control col-8" placeholder="Digite nome"  
                     #name="ngModel" >
                    <span class="help-block" *ngIf="name.invalid && name.touched">Name is required</span>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <app-endereco [endereco] = endereco></app-endereco>
            
            
            <div class="form-group">
                    <label for=""></label>
                    <input type="password" class="form-control col-8"  placeholder="Senha" [(ngModel)]="usuario.pws" name="pws" 
                    #pws = "ngModel" minlength="6" required>
                    <small  class="form-text text-danger font-weight-bold" *ngIf="pws.invalid && pws.dirty">Password is too small</small>
            </div>
            <div class="form-group">
                    <label for=""></label>
                    <input type="password" class="form-control col-8"  placeholder="Confirmar senha" name="conf" (ngModel)="conf"
                    #conf="ngModel" required>
                    <small  class="form-text text-danger font-weight-bold" 
                    *ngIf="pws.value != conf.value && conf.dirty">Passwords are different</small>
            </div>

            <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-info" [disabled] = "fc.invalid ">Submit</button>
            <button type="reset" class="btn btn-info ml-4" routerLink="/">Cancel</button>
    </form>
</div>
<app-list-usuario ></app-list-usuario>